* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  text-align: center;
  background-color: #222222;
  color: #FFFFEE;
  padding: 2em;
}

.game {
  display: flex;
}

.gameboard {
  display: flex;
  width: 80vw;
  height: 80vh;
  background-color: #6AC0E3;
  border-right: .5em solid #222222;
}

.clueTile {
  display: flex;
  margin: 1em;
  width: 180px;
  height: 100px;
  background-color: #1D77A4;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
}

.clueTile.finished {
  background-color: gray;
}

.clueModal {
  position: absolute;
  top: 10vh;
  left: 10vw;
  height: 80vh;
  width: 80vw;
  z-index: 1;
  background-color: #1D77A4;
}

.scoreboard {
  background-color: #6AC0E3;
}

.btn {
  height: 7vh;
  width: 10vw;
  margin: 2em;
}
